.container {
    width: 1170px;
    margin: 0px auto;
   
}

.row {
    display: flex;
    justify-content: space-between;
   
   
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid gray; */
}

.col-1 {
    width: calc((100% / 12)*1);
}

.col-2 {
    width: calc((100% / 12)*2);
}

.col-3 {
    width: calc((100% / 12)*3);
}

.col-4 {
    width: calc((100% / 12)*4);
}

.col-5 {
    width: calc((100% / 12)*5);
}


 

.col-6 {
    width: calc((100% / 12)*6);
}

 /* 

    1170px / 12 = 97.5px
    97.5px * 6 = 585px;

    
 */


.col-7 {
    width: calc((100% / 12)*7);
}
 /* 

    1170px / 12 = 97.5px
    97.5px * 7 = 682.5px;

    
 */

.col-8 {
    width: calc((100% / 12)*8);
}

 /* 

    1170px / 12 = 97.5px
    97.5px * 8 = 780px;

    
 */

.col-9 {
    width: calc((100% / 12)*9);
}

 /* 

    1170px / 12 = 97.5px
    97.5px * 9 = 877.5px;

    
 */

.col-10 {
    width: calc((100% / 12)*10);
}

 /* 

    1170px / 12 = 97.5px
    97.5px * 11 = 1 072,5px;

    
 */

.col-11 {
    width: calc((100% / 12)*11);
}
 /* 

    1170px / 12 = 97.5px
    97.5px * 11 = 1 072,5px;

    
 */


.col-12 {
    width: calc((100% / 12)*12);
    /* 

    1170px / 12 = 97.5px
    97.5px * 12 = 1170px

    
    */
}