#bizkimik {
    margin-top: 100px;

}

@media (max-width: 992px) {
    #bizkimik {
        .main__item.vegetables {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            img {
               width: 400px;
               height: 200px;
            }  
        }
    }
}