header {
    height: 630px;
    background-image: url('/src/resources/img/header.png');
    background-repeat: no-repeat;
    background-size: cover;

   
}

@media (max-width: 576px) {
    #header-top {
     span {
         font-size: 10px;
     }
    }
 }