#slider {
    margin-top: -125px;

    .slider__item {
        height: 250px;
        cursor: pointer;
    }

    .ananas {
        background-color: #1A5221;
    }

    .vegetables {
        background-color: #91B40D;
    }

    .and {
        background-color: #FFBF00;
    }
}



@media (min-width:992px) and (max-width: 1200px) {
    #slider {
        .vegetables {
            height: 200px;
            img {
                width: 220px;
            }
        }

        .and {
            height: 200px;
            img {
                width: 320px;
            }
        }

        .ananas {
            height: 200px;
            img {
                width: 160px;
                height: 190px;
                right: -1px !important;
            }
        }

    }
}